form{
	display: block;
	width: 300px;
	padding: 1em;
	margin: 0 auto;
	color: #222;
	font-size: 1.1em;
}
li {
    display: inline;
}
input, label, fieldset{
	display: block;
	width: 95%;
}

.required{
  display: inline-block;
  color: #DE0B63;
  font-size: 1.1em;
  font-weight: bold;
}

label{
	padding-left: 0.5em;
	margin: 0.75em 0 0.25em 0;
}

input{
	font-size: 1em;
	padding: 0.25em 0.5em;
	border: 1px solid #222;
	height: 1.5em;
}

fieldset{
	border: 1px solid #222;
	padding: 0.5em 0 1em 0.5em;
	margin: 0.75em 0 0.25em 0;
	width: 98%;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr 3fr;
}

input[type=submit]{
	padding: 0.75em;
	width: 35%;
	height: auto;
	margin-left: 67%;
	color: #fff;
	background-color: #222;
	border: none;
	font-family: serif;
}

textarea{
	width: 100%;
	height: 5em;
	margin-bottom: 1em;
}

input:focus, textarea:focus{
	border-color: blue;
	box-shadow: 0 0 0 3px rgba(34, 34, 34, 0.3);
	border-radius: 4px;
}

input:error, textarea:error{
	border-color: #DE0B63;
}